* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

/* START SCREEN ----------------------------------- */

.startScreenDiv {
    /* background-image: url(/assets/images/gems.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#startScreenBg {
    display: flex;
    margin: auto 0;
    position: absolute;
    border-radius: 45%;
    animation: spin 4500ms infinite ease-in-out;
}

#startRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 100vw;
    height: 70vh;
}

#startHeader, #endHeader {
    align-items: center;
    position: absolute;
    top: 20%;
    margin: 10px;
    font-size: 7em;
    text-shadow: 5px 5px 20px black;
}

.buttonStyle {
    align-items: center;
    position: absolute;
    top: 45%;
    font-size: 2em;
    transition: all 500ms;
    cursor: pointer;
    text-shadow: 5px 5px 15px black;
}

.buttonStyle span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 500ms;
}

.buttonStyle span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 500ms;
}

.buttonStyle:hover span {
    padding-right: 30px;
  }
  
.buttonStyle:hover span:after {
    opacity: 1;
    right: 0;
}


/* GAME SCREEN ------------------------------------ */

.mainGameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 700px;
    border: 5px solid salmon;
}

.crystal {
    font-size: 6em;
    width: 100px;
    height: 100px;
    margin: 30px;
    text-align: center;
}

#crystal0 {
    color: #6D29F6;
}    

#crystal1 {
    color: #29F6D3;
}

#crystal2 {
    color: #B2F629;
}

#crystal3 {
    color: #F6294B;
}

.counterRow div {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 15px;
    font-size: 2em;
    text-align: center;
}

.scoreRow div {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 15px;
    font-size: 1.5em;
    text-align: center;
}

/* ANIMATE */
.bounce {
    animation: bounce 2000ms infinite ease-in;
    transform-origin: center bottom;
}

@keyframes bounce {
from,
20%,
53%,
80%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
}

40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
}

70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0);
}

90% {
    transform: translate3d(0, -10px, 0);
}
}
